.bannerContainer{
    margin:0px;
    padding:0px;
}
.bannerCol{
    margin:0px;
    padding:0px;
}
.bannerImg{
    padding: 0px;
    width:100%;
    height:150px;
}
.jumbotron{
    background-color: maroon;
    color:whitesmoke;

    margin-top: 30px;
    padding: 30px;
    border-radius: 10px;
}
.breadcrumb{
    margin:20px 0px;
    padding: 10px;

    background-color: #a64c4c;
    color:white;
}
.responsiveImg{
    height:400px;
    width: 100%;
}
.product-list-card{
    border-style: solid;
    border-radius: 25px;
    border-width: 10px;

    border-color: maroon;
    color:white;
    background-color:  #404040;
    
    margin: 15px;
    padding: 0px 10px 0px 0px;
    flex: 1 1000px;
    
    text-align: center;    
}
.badge{
    background-color: maroon;
}
.product-list-card-icon{
    padding-right: 10px;
}
.list-more-info-btn{
    color:white;
    background-color: maroon;

    border-style: solid;
    border-radius: 25px;
    border-color: white;

    padding: 10px 30px 10px 30px;
    margin: 10px 30px;
    width: 75%;
}

footer{
    padding: 10px 0px 10px 0px;
}
.footer-element-icon{
    margin-right:10px;
}
.nav-tab{
    background-color: whitesmoke;
}
.prices-nav-item{
    background-color: whitesmoke;
}
.tab-content{
    background-color: whitesmoke;
}
label{
    color:white;
}